amqp==5.0.2
appdirs==1.4.4
astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.3
billiard==3.6.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
dateparser==1.0.0
extruct==0.12.0
feedparser==6.0.2
Flask==1.1.2
Flask-Cors==3.0.10
fuzzywuzzy==0.18.0
gnewsclient==1.12
gunicorn==20.0.4
html-text==0.5.2
html5lib==1.1
idna==2.10
isodate==0.6.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jstyleson==0.0.2
kombu==5.0.2
language-tags==1.0.0
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
mf2py==1.1.2
mypy-extensions==0.4.3
opengraph==0.5
pathspec==0.8.1
prompt-toolkit==3.0.10
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
pyRdfa3==3.5.3
python-dateutil==2.8.1
python-Levenshtein==0.12.1
pytz==2020.5
rdflib==5.0.0
rdflib-jsonld==0.5.0
recipe-scrapers==12.0.2
regex==2020.11.13
requests==2.25.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.1
tld==0.12.5
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
vine==5.0.0
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
