.sidebar {
	margin-left: 5vw;
	padding: 0;
	width: 15vw;
	background-color: #393861;
	position: absolute;
	top: 20%;
	text-align: center;
	overflow: auto;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	font-size: 20px;
	text-decoration: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.sidebar a.active {
	background-color: #232545;
	color: white;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.sidebar a:hover:not(.active) {
	background-color: #696780;
	color: white;
}

.username2 {
	color: #c3a87a;
	display: inline-block;
	position: absolute;
	top: 5%;
	left: 8%;
	text-transform: uppercase;
}

#toDoHeading h2 {
	color: white;
	text-align: center;
	position: relative;
	margin-top: 2%;
}

.toDoBox {
	display: inline-block;
	margin-top: 3%;
	width: 25%;
	height: 70%;
	vertical-align: top;
	text-align: center;
	overflow: auto;
	color: white;
}

#taskTimeArea {
	margin-left: 2%;
	border-right: 1px solid white;
}

#taskTitleArea {
	width: 69%;
	margin-right: 2%;
}

.taskInputField {
	margin-top: 1%;
	background-color: #393861;
	color: white;
	height: 9%;
	width: 75%;
	float: left;
	margin-left: 2%;
}

.taskInputField:focus {
	border-bottom: 2px solid white;
}

#addTaskArea {
	text-align: center;
	position: relative;
}

.taskButton {
	color: white;
	margin-top: 2%;
	text-decoration: none;
	border-radius: 25px;
	width: 30%;
	height: 25px;
	font-size: 15px;
	background-color: #232545;
	border-style: none;
	cursor: pointer;
}

.taskButton:hover {
	background-color: #696780;
}

#addTaskCancelButton {
	margin-right: 2%;
	display: inline-block;
	width: 17%;
	margin-top: 2%;
	font-size: 10px;
	position: relative;
}
