* {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
  scroll-behavior: smooth;
}

#firstPage {

  text-align: center;
  overflow: hidden;
}

#secondPage {
  background-color: #393861;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

#headingArea {
  text-align: center;
  width: 100vw;
  height: 10vh;
  margin-top: 39vh;
}

#bottomArea {
  display: block;
  position: absolute;
  top: 87vh;
  text-align: center;
  height: 15vh;
  width: 100vw;
  font-size: 2.4vh;
  font-family:'Avenir';
}

#scrollDownIcon {
  font-size: 7vh;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url('Font-Reg.otf');
  font-style: normal;
  font-weight:50;
}
.violetTitle1{
  font-family: 'Avenir';
  font-weight:100;
  position:relative;
  top:47%;
  left:0.35%;
}
.violetTitle2{
  font-family: 'Avenir';
  font-weight:50;
  text-transform:  lowercase;
}

#violetDesc{
  font-family: 'Avenir';
  font-weight:100;
  font-size:1vw;
  position:relative;
  top:50%;
}

#getStartedBtn {
  width: 12vw;
  height: 6vh;
  float: right;
  margin-right: 1.5vw;
  margin-top: 1.5vh;
  background-color: #393861;
  border: none  ;
  border-radius: 30px;
  color: white;
  font-size: 1.2vw;
  font-family: 'Avenir';
}

#getStartedBtn:hover {
  background-color: #696780;
  cursor: pointer;
}
#logo {
  position: absolute;
  width:24.6vw;
  height: 40vh;
  top:50%;
  left:50%;
  transform: TranslateX(-50%) TranslateY(-105%);
  z-index: 0;
}
#background{
  width:100%;
  height:100%;
  position:absolute;
  z-index: -1;
}