{% extends 'baseNews.html' %}
<!--Comment-->
{% block style %}
<style>
	:root {
		--second: #393861;
	}
	a {
		text-decoration: none;
	}
	#topicContainer {
		/* margin-right: 2%; */
		display: flex;
		flex-direction: row;
		position: relative;
		margin-top: 12vh;
		/* left: 10%; */
		margin-left: 5%;
		border-bottom: solid white 1px;
		/* background-color: yellow; */
		min-width: 56vw;
		max-width: fit-content;
		flex-wrap: nowrap;
		margin-bottom: 2%;
	}
	#topicContainer::after {
		border-bottom: none;
	}
	#topic {
		font-size: x-large;
		font-size: 3vh;
	}

	#linkContainer {
		margin-right: 2%;
		/* margin-bottom: 2%; */
	}
	#newsContainer {
		width: 50vw;
		height: 20vh;
		position: absolute;
		margin-bottom: 5%;
		margin-left: 2vw;
		/* background-color: var(--second); */
		/* display: inline-block; */
		display: grid;
		grid-template-columns: 12vw 38vw;
		grid-template-rows: 5vh 15vh;
	}
	#news {
		background: url("../static/logos/linkedin.png") no-repeat;
		background-size: 15vh 15vh;
		background-position: center;
		display: inline-block;
		background-color: var(--second);
		width: 20vh;
		height: 20vh;
		border-radius: 25%;
		margin-left: 2%;
		grid-row: 1;
		grid-column: 1;
	}
	#heading {
		grid-row: 1;
		grid-column: 2;
		font-size: 5vh;
		color: white;
		font-weight: bolder;
		/* display: inline-block; */
	}
	#newsContent {
		grid-row: 2;
		grid-column: 2;
		font-size: medium;
		color: white;
	}
</style>
{% endblock %}
<!--Comment-->
{% block topics %}
<!--topics-->
<div id="topicContainer">
	{% for item in data2 %}
	<div id="linkContainer">
		<a id="link" href="{{ url_for('news', top=item) }}">
			<div id="topic" style="color: white">{{item}}</div>
		</a>
	</div>

	{% endfor %}
</div>
<!-- actual news -->
{% endblock %}
<div>
	<!-- actual news -->
	{% block actualNews %} {% for i in range (1, len) %}

	<div id="newsContainer">
		<div id="news"></div>
		<div id="heading">
			<a id="link" href="#">
				<div id="news">{{data[i]['title']}}</div>
			</a>
		</div>
		<div id="newsContent">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolorum amet
			quas, similique a illum, alias vel non quis voluptatibus quasi ipsum,
			culpa quam iusto voluptas. Neque reprehenderit eligendi doloribus.
		</div>
	</div>
	{% endfor %}
	<!-- end for -->
	{% endblock %}
	<!-- endactual news -->
</div>
