{% extends 'baseNews.html' %}
<!--Comment-->
{% block style %}
<style>
    :root {
		--second: #393861;
		--yellowish: #C3A87A;
	}
	a {
		text-decoration: none;
		color: white;
	}
	#topicContainer {
		/* margin-right: 2%; */
		display: flex;
		flex-direction: row;
		position: relative;
		margin-top: 12vh;
		/* left: 10%; */
		margin-left: 5%;
		border-bottom: solid white 1px;
		/* background-color: yellow; */
		min-width: 46vw;
		max-width: fit-content;
		flex-wrap: nowrap;
		margin-bottom: 2%;
	}
	#topicContainer::after {
		border-bottom: none;
	}
	#topic {
		font-size: x-large;
		font-size: 3vh;
	}

	#linkContainer {
		margin-right: 2%;
		/* margin-bottom: 2%; */
	}

	#news {
		/* background: url("../static/logos/linkedin.png") no-repeat; */
		background-size: 15vh 15vh;
		background-position: center;
		background-color: var(--second);
		width: 20vh;
		height: 20vh;
		border-radius: 25%;
		margin-left: 2%;
		margin-right: 2%;

	}
	#heading {
		grid-row: 1;
		grid-column: 2;
		font-size: 3vh;
		color: white;
		font-weight: bolder;
	}
	#newsContent {
		grid-row: 2;
		grid-column: 2;
		font-size: medium;
		color: white;
	}

	#SummaryContainer {
		width: 50vw;
		height: 20vh;
		/* background-color: red; */
		margin-bottom: 2%;
		color: var(--yellowish);
	}
	#n {
		margin-left: 5%;
	}
	td{
		max-width: 60vw;
	}
	#spaceHere td{
		padding-right: 1vw;
	}
	img{
		width: 15vh;
		height: 15vh;
		margin-left: 2.5vh;
		margin-top: 2.5vh;
		border-radius: 25%;
	}

</style>
{% endblock %}
<!--Comment-->
{% block topics %}
<!--topics-->
<div id="topicContainer">
    {% for item in data2 %}
    <div id="linkContainer">
        <a class="linksHighlight" href="{{ url_for('news', top=item) }}" id="link">
            <div id="topic" style="color: white">
                {{item}}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<!-- actual news -->
{% endblock %}
<div>
    <!-- actual news -->
    {% block actualNews %}
    <div id="n">
        {% for key, value in data.items() %}
        <table>
            <tr id="spaceHere">
                <!-- <td rowspan="2"><div id="news"></div></td> -->
                <td rowspan="2">
                    <div id="news">
                        <img alt="No-Image" src="{{value[1]}}"/>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td>
                    <!-- <br> -->
                    <div id="SummaryContainer">
                        <div id="heading">
                            <a href="{{value[2]}}">
                                {{key}}
                            </a>
                        </div>
                        <br>
                            {{value[0]}}
                        </br>
                    </div>
                </td>
            </tr>
        </table>
        {% endfor %}
    </div>
</div>
<!-- end for -->
{% endblock %}
<!-- endactual news -->
<!-- -->
{% block body %}
<script>
</script>
{% endblock %}
